/* Remove all borders from tables using the "no-border" class */
.no-border {
  border: none !important;
  border-collapse: collapse !important;
}

.no-border td,
.no-border th {
  border: none !important;
  padding: 0 !important;
}

.vspace {
  margin-top: 2em;
}
